// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  border-left: 1em solid lightgrey;
  padding: 1em;
}

.coach_answer {
  background-color: lightyellow;
}

a {
  text-decoration: none;
  color: grey;
}
